body {
    background-color: powderblue;
}

h1 {
    color: #66bfbf;
}

hr{
    border-style: none;
    border-top-style: dotted;
    border-width: 10px;
    border-color: gray;
    width: 20%;
}